:root {
  --wind-deg: 100deg;
}

#container {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 2%;
  justify-items: center;
  flex: wrap;
}

.mainBox {
  height: 100%;
  width: 60%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  float: left;
}

.secBox {
  height: 100%;
  width: 39.2%;
  background-color: rgb(238, 238, 238);
  border: 1px dotted gray;
  float: left;
  margin-left: 0.8%;
  padding: 1%;
}

.gridItem {
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

.notEmpty {
  background-color: rgba(223, 223, 223, 0.8);
  border: 1px solid rgba(165, 165, 165, 0.8);
}

.fa {
  font-size:40px ;
}

.fa-sun-o {
  color: rgb(255, 196, 0);
  animation: sun-rotate 5s linear infinite;
}

.fa-moon-o {
  color: gray;
  animation: moon-up 3s linear infinite;
  animation-direction: alternate;
}

@keyframes sun-rotate {
  to { transform: rotate(360deg) }
}

@keyframes moon-up {
  0% { transform: translate(0px, 10px) }
  50% { transform: translate(0px, 0px) }
  100% {transform: translate(0px, -10px) }
}

#todayDate {
  color: rgb(41, 41, 41);
  font-size: 20px;
  text-align: center;
  font-family: 'Jomolhari', serif;
}

#chartContainer {
  color: black;
  font-size: 12px;
  height: 300px;
  width: 100%;
  margin-top: 2px;
  /* background-color: white */
  text-align: center;
  font-family: 'Jomolhari', serif;
  padding: 1%;
}

#temp, #wind, #rain {
  cursor: pointer;
}

#temp:hover, #wind:hover, #rain:hover {
  background-color: rgb(73, 73, 82);
  color: white;
}

#spaceIconContentWind {
  margin: 5%;
}

/* ---------------------------------- wind.css */
#imgWind {
  height: 40%;
  width: 40%;
}

#imgRain {
  height: 30%;
  width: 30%;
  animation: rainImg 3s linear infinite;
  animation-direction: alternate;
}

@keyframes rainImg {
  0% { transform: translate(0px, 0px) }
  50% { transform: translate(-40px, 55px) }
  100% { transform: translate(40px, 100px) }
}

.fa-location-arrow {
  color: blue;
  animation: wind 5s linear;
  animation-fill-mode: forwards;
}

@keyframes wind {
  to { transform: rotate(var(--wind-deg)) }
}

#windContent {
  font-size: 20px;
}

@media only screen and (max-width: 1200px) {
  .mainBox {
    grid-template-columns: auto auto;
  }

  #empty {
    display: none;
  }

  #imgWind {
    height: 30%;
    width: 30%;
  }

  #spaceIconContentWind {
    margin: 2%;
  }

  .main {
    margin-bottom: 25vw;
  }
}

@media only screen and (max-width: 900px) {
  .mainBox {
    grid-template-columns: auto;
    float: none;
    display: contents;
  }

  
  .secBox {
    margin-top: 3px;
    width: 100%;
    height: auto;
    float: none;
    display: block;
    margin-left: 0%;
  }

  #spaceIconContentWind {
    margin: -1%;
  }
}
