div{
    /* background-color: rgb(255, 252, 220); */
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
}
h1{
    font-size: 45px;
    align-content:center;
    text-align: center
    
}
canvas{
  justify-content: center;
  align-content: center;
}