


.main{
    
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
    justify-items: center;
    justify-content: space-evenly;
   
}
.container{
  justify-items: center;
  align-content: center;
  position: relative;
}
h1{
    font-size: 45px;
    /* font-family: Arial, Helvetica, sans-serif; */
    
}
@media only screen and (max-width: 650px) {
  

h1{
    font-size: 15px;
    /* font-family: Arial, Helvetica, sans-serif; */
    
}
.container{
  height: 70%;
  width: 70%;
  position: relative;
}
}